{% extends "base.html" %}{% load bootstrap3 %}

{% block top_nav %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" id="search-form" action="">
        <div class="form-group">
          <label>Sort By</label>
          <select class="selectpicker" id="sortBy" name="sort">
            <option value="full_name" selected>Full Name</option>
            <option value="family_name">Family Name</option>
            <option value="given_name">Given Name</option>
            <option value="linkedin_id">LinkedIn Id</option>
            <option value="locality">Locality</option>
            <option value="unique_id">Unique Id</option>
            <option value="num_connections">No. of Connections</option>
            <option value="last_visited">Last Visited</option>
            <option value="updated">Updated</option>
          </select>
        </div>
        <label>Search By</label>
        <div class="form-group">
          <select class="selectpicker" id="filterBy" name="filter">
            <option value="full_name" selected>Full Name</option>
            <option value="family_name">Family Name</option>
            <option value="given_name">Given Name</option>
            <option value="linkedin_id">LinkedIn Id</option>
            <option value="locality">Locality</option>
            <option value="unique_id">Unique Id</option>
          </select>
        </div>
        <div class="form-group">
          <input type="search" class="form-control" id="search-field" name="search" placeholder="Type search text here">
          <input type="hidden" id="page-no" value="1" name="page">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% bootstrap_pagination page_obj %}
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered" id="myTable">
      <thead>
        <tr>
          <th>Last Visited</th>
          <th>LinkedIn Id</th>
          <th>Full Name</th>
          <th>Family Name</th>
          <th>Given Name</th>
          <th>Image</th>
          <th>Languages</th>
          <th>Locality</th>
          <th>Industry</th>
          <th>Number of Connections</th>
          <th>Recommendations</th>
          <th>Canonical URL</th>
        </tr>
      </thead>
      <tbody>
        {% for people in peoples_list %}
          <tr>
            <td>{{ people.last_visited }}</td>
            <td>{{ people.linkedin_id }}</td>
            <td><strong><a href="/people-detail/{{ people.id }}" target="_blank">{{ people.full_name}}</a></strong></td>
            <td>{{ people.family_name }}</td>
            <td>{{ people.given_name }}</td>
            <td><img src="{{ people.image_url }}" style="width: 50%"></td>
            <td>{{ people.langs }}</td>
            <td>{{ people.locality }}</td>
            <td>{{ people.industry }}</td>
            <td>{{ people.num_connections }}</td>
            <td>{{ people.recommendations }}</td>
            <td><a href="{{ people.canonical_url }}">{{ people.canonical_url }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
