{% extends "base.html" %}{% load bootstrap3 %}

{% block top_nav %}
{% endblock %}

{% block content %}
  <div class="col-md-7" style="margin-bottom:15px">
    <form id="search-form" action="">
      <div class="row">
        <div class="col-md-1">
          <label>Search:</label>
        </div>        
        <div class="col-md-4">
          <input type="search" id="search-field" class="form-control" name="search">
          <input type="hidden" id="page-no" value="1" name="page">
        </div>        
        <div class="col-md-2">
          <input type="submit" class="btn btn-success" name="">
        </div>        
      </div>      
    </form>
  </div>
  <table class="table table-bordered" id="myTable">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Image</th>
        <th>LinkedIn Id</th>
        <th>Unique Id</th>
        <th>URL</th>
        <th>Number of Connections</th>
        <th>Locality</th>
        <th>Last Visited</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for people in peoples_list %}
        <tr>
          <td><strong><a href="/people-detail/{{ people.id }}" target="_blank">{{ people.full_name}}</a></strong></td>
          <td><img src="{{ people.image_url }}" style="width: 50%"></td>
          <td>{{ people.linkedin_id }}</td>
          <td>{{ people.unique_id }}</td>
          <td><a href="{{ people.url }}">{{ people.url }}</a></td>
          <td>{{ people.num_connections }}</td>
          <td>{{ people.locality }}</td>
          <td>{{ people.last_visited }}</td>
          <td>{{ people.updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% bootstrap_pagination page_obj %}
{% endblock %}
