{% extends "base.html" %}{% load bootstrap3 %}

{% block top_nav %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" id="search-form" action="">
        <label>Search By</label>
        <div class="form-group">
          <select class="selectpicker" id="filterBy" name="filter">
            <option value="name" selected>Name</option>
          </select>
        </div>
        <div class="form-group">
          <input type="search" class="form-control" id="search-field" name="search" placeholder="Type search text here">
          <input type="hidden" id="page-no" value="1" name="page">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% bootstrap_pagination page_obj %}
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered" id="myTable" style="height:auto; max-height:100%; overflow:auto; ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Users Counts</th>
          <th>Company Counts</th>
        </tr>
      </thead>
      <tbody>
        {% for industry in object_list %}
          <tr>
            <td>{{ industry.industry.name }}</td>
            <td>{{ industry.user_count }}</td>
            <td>{{ industry.company_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
