<!doctype html>{% load bootstrap3 %}{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DB Work</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">MongoDB Data<small>Viewing MongoDB Data</small></a>
        </div>
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/people-basic-list">People Basic Listing</a>
            </li>
            <li>
              <a href="/people-experience-list">People Experience Listing</a>
            </li>
            <li>
              <a href="/company-list">Company Listing</a>
            </li>
          </ul>
          {% block top_nav %}{% endblock %}
        </nav>
      </div>
    </header>

    <div class="container" id="main-body">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="container">
        <p>Demo Project.</p>
      </div>
    </footer>
    
    {% bootstrap_javascript jquery=1 %}
    {% block js_footer %}
      <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% endblock %}
  </body>
</html>
