<!doctype html>{% load bootstrap3 %}{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DB Work</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-editable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">MongoDB Data<small>Viewing MongoDB Data</small></a>
        </div>
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raw Data <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'people_data_index' %}">Users Listing</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'company_data_index' %}">Companies Listing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'users_index' %}">Listing</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'users_basic' %}">Basic Listing</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'users_experience' %}">Experience Listing</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'users_current_experience' %}">Current Experience Listing</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'users_improper_data' %}">Improper Data Listing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'company_index' %}">Listing</a></li>
                <li><a href="{% url 'company_improper_data' %}">Improper Data Listing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Industry <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'industry_index' %}">Listing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Designation <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'users_designation' %}">Listing</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management Level <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'management_level_index' %}">Listing</a></li>
              </ul>
            </li>
          </ul>
          {% block top_nav %}{% endblock %}
        </nav>
      </div>
    </header>

    <div class="container" id="main-body">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="container">
        <p>Demo Project.</p>
      </div>
    </footer>
    
    {% bootstrap_javascript jquery=1 %}
    {% block js_footer %}
      <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap-editable.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $.fn.editable.defaults.mode = 'popup';
           $('.department-edit').editable();
        });
      </script>
    {% endblock %}
  </body>
</html>
