<!doctype html>{% load bootstrap3 %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>DB Work</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://silviomoreto.github.io/bootstrap-select/dist/css/bootstrap-select.min.css">
    <style>
      .navbar-brand small { color: #999; display:block; font-size:12px; }
      .navbar-toggle {top:10px}
      @media (min-width:768px) { .navbar-brand { padding-top: 7px; } }
      footer { margin-top: 40px; margin-bottom: 20px; text-align: center; color: #888; }
      .pagination { float: right !important; }
    </style>
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">MongoDB Data<small>Viewing MongoDB Data</small></a>
        </div>
        <nav class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/people-basic-list">People Basic Listing</a>
            </li>
            <li>
              <a href="/people-experience-list">People Experience Listing</a>
            </li>
            <li>
              <a href="/company-list">Company Listing</a>
            </li>
          </ul>
          {% block top_nav %}{% endblock %}
        </nav>
      </div>
    </header>

    <div class="container" id="main-body">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer>
      <div class="container">
        <p>Demo Project.</p>
      </div>
    </footer>
    {% bootstrap_javascript jquery=1 %}
    {% block js_footer %}
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://silviomoreto.github.io/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('#myTable').DataTable({ 
            "scrollX": true, "bLengthChange": false, 
            "pageLength": 50, "bPaginate": false, "bInfo": false,"searching": false,
          });
          $('.accordion-toggle').click(function(){
            $(this).find("i").toggleClass("glyphicon-plus glyphicon-minus");
          });
        });
      </script>
      <script type="text/javascript">
        $(document).ready(function(){
          var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
          };
            var tech = getUrlParameter('search');
            if(tech != undefined)
            {
              $('#search-field').val(decodeURIComponent(tech));
            }
            if($('#search-field').val()!='')
            {
              $('.pagination').children('li').click(function(){
                $('#page-no').val($(this).children('a').attr('href').replace('?page=',''));
                $('#search-form').submit();
                return false;
              });
            }
          });
       
      </script>
    {% endblock %}
  </body>
</html>
