{% extends "users/users.html" %}

{% block table %}
  <table class="table table-bordered" id="myTable" style="height:auto; max-height:100%; overflow:auto; ">
    <thead>
      <tr>
        <th rowspan="2">LinkedIn Id</th>
        <th rowspan="2">Full Name</th>
        <th rowspan="2">E-mail ID</th>
<!--         <th rowspan="2">Reason</th>
        <th rowspan="2">Found</th>
        <th rowspan="2">Correctness</th>
        <th rowspan="2">Confidence</th> -->
        <th rowspan="2">Domain</th>
        <th rowspan="2">Current Job Title</th>
        <th rowspan="2">Management Level</th>
        <th rowspan="2">Start Date</th>
        <th rowspan="2">End Date</th>
        <th colspan="2">Total Experience</th>
        <th colspan="2">Actual Total Experience</th>
        <th rowspan="2">User Industry</th>
        <th rowspan="2">Current User Industry</th>
        <th rowspan="2">Company Industry</th>
        <th rowspan="2">Company Name</th>
      </tr>
      <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Year</th>
        <th>Month</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.linkedin_id }}</td>
          <td><strong><a href="/users/detail/{{ user.id }}" target="_blank">{{ user.full_name }}</a></strong></td>
          <td>{{ user.user_email.email }}</td>
 <!--     <td>{{ user.user_email.reason }}</td>
          <td>{{ user.user_email.found }}</td>
          <td>{{ user.user_email.correctness }}</td>
          <td>{{ user.user_email.confidence }}</td> -->
          <td><a href="http://{{ user.user_email.domain }}" target="_blank">{{ user.user_email.domain }}</a></td>
          <td>{{ user.latest_experience.title }}</td>
          <td>{{ user.management_level.name }}</td>
          <td>{{ user.current_experience.start }}</td>
          {% if user.latest_experience.present %}
            <td>Present</td>
          {% else %}
            <td>{{ user.current_experience.end }}</td>
          {% endif %}
          <td>{{ user.current_experience.duration_year }}</td>
          <td>{{ user.current_experience.duration_month }}</td>
          <td>{{ user.current_experience.d_years }}</td>
          <td>{{ user.current_experience.d_months }}</td>
          <td>{{ user.industry|title }}</td>
          <td>{{ user.current_industry|title }}</td>
          <td>{{ user.latest_experience.company.industry|title }}</td>
          <td><a href="/companies/detail/{{ user.latest_experience.company.id }}" target="_blank">{{ user.latest_experience.company.name|title }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
