{% extensds "base.html" %}{% load bootstrap3 %}

{% block top_nav %}
{% endblock %}

{% block content %}
  {% if user %}
    <div>
      <img src="{{ user.image_url|default:'#' }}">
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>ID</th><td>{{ user.id }}</td>
          <th>Full Name</th><td>{{ user.full_name }}</td>
        </tr>
        <tr>
          <th>Family Name</th><td>{{ user.family_name }}</td>
          <th>Given Name</th><td>{{ user.given_name }}</td>
        </tr>
        <tr>
          <th>Linkedin ID</th><td>{{ user.linkedin_id }}</td>
          <th>URL</th><td><a href="{{ user.url }}" target="_blank">{{ user.url }}</a></td>
        </tr>
        <tr>
          <th>Unique ID</th><td>{{ user.unique_id }}</td>
          <th>Key</th><td>{{ key }}</td>
        </tr>
        <tr>
          <th>Locality</th><td>{{ user.locality }}</td>
          <th>Industry</th><td>{{ user.industry }}</td>
        </tr>
        <tr>
          <th>Languages</th><td>{{ user.languages }}</td>
          <th>Number of Connections</th><td>{{ user.num_connections }}</td>
        </tr>
        <tr>
          <th>Recommendations</th><td>{{ user.recommendations }}</td>
          <th>Canonical URL</th><td><a href="{{ user.canonical_url }}" target="_blank">{{ user.canonical_url }}</a></td>
        </tr>
        <tr>
          <th>Last Visited</th><td>{{ user.last_visited }}</td>
          <th>Updated</th><td>{{ user.updated }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Headline</th><td>{{ user.headline }}</td>
        </tr>
        <tr>
          <th>Intrests</th><td>{{ user.interests }}</td>
        </tr>
        <tr>
          <th>skills</th><td>{{ user.skills }}</td>
        </tr>
        <tr>
          <th>Websites</th>
            <td>
              {% if user.websites %}
                {% for website in user.websites %}
                  <p>
                    <strong>URL : </strong><a href="{{ website.url }}">{{ website.url }}</a> | 
                    <strong>Description : </strong>{{ website.description }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Education</th>
            <td>
              {% if user.education %}
                {% for edu in user.education %}
                  <p>
                    <strong>Name : </strong>
                    {% if edu.profile_url %}
                      <a href="{{ edu.profile_url }}">{{ edu.name }}</a>
                    {% else %}
                      {{ edu.name }}
                    {% endif %} | 
                    <strong>Degree : </strong>
                    {% if edu.degrees %}
                      {% for degree in edu.degrees %}
                        <span>{{ degree }}</span>, 
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}<br>
                    <strong>Start : </strong>{{ edu.start }} | <strong>End : </strong>{{ edu.end }}<br>
                    <strong>Summary : </strong>{{ edu.summary }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Courses</th>
            <td>
              {% if user.courses %}
                {% for course in user.courses %}
                  <p>
                    <strong>Organization : </strong>{{ course.organization }} | 
                    <strong>Title : </strong>{{ course.title }}<br>
                    <strong>Competencies : </strong>
                      {% if course.competencies %}
                        {% for comp in course.competencies %}
                          <span>{{ comp.name }}</span>, 
                        {% endfor %}
                      {% else %}
                        None
                      {% endif %}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Test Scores</th>
            <td>
              {% if user.test_scores %}
                {% for tscore in user.test_scores %}
                  <p>
                    <strong>Title : </strong>{{ tscore.title }}<br>
                    <strong>Date : </strong>{{ tscore.date }} | <strong>Score : </strong>{{ tscore.score }}<br>
                    <strong>Description : </strong>{{ tscore.description }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Projects</th>
            <td>
              {% if user.projects %}
                {% for project in user.projects %}
                  <p>
                    <strong>Title : </strong>{{ project.title }}<br>
                    <strong>Date : </strong>{{ project.date }} | 
                    <strong>URL : </strong><a href="{{ project.url }}">{{ project.url }}</a><br>
                    <strong>Description : </strong>{{ project.description }}<br>
                    <strong>Members : </strong>
                    {% if project.members %}
                      {% for member in project.members %}
                        <span>
                          {% if member.url %}
                            <a href="{{ member.url }}">{{ member.full_name }}</a>
                          {% else %}
                            {{ member.full_name }}
                          {% endif %}
                        </span>, 
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Organizations</th>
            <td>
              {% if user.organizations %}
                {% for organization in user.organizations %}
                  <p>
                    <strong>Name : </strong>{{ organization.name }} | 
                    <strong>Position : </strong>{{ organization.position }} | 
                    <strong>Start : </strong>{{ organization.start }} | <strong>End : </strong>{{ organization.end }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Also viewed</th>
            <td>
              {% if user.also_viewed %}
                {% for av in user.also_viewed %}
                  <li><a href="{{ av }}">{{ av }}</a></li>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Groups</th>
            <td>
              {% if user.groups %}
                {% for group in user.groups %}
                  <div class="row">
                    <div class="col-lg-2"><img src="{{ group.logo_url }}"></div>
                    <div class="col-lg-10">
                      <strong>Name : </strong>
                      {% if group.profile_url %}
                        <a href="{{ group.profile_url }}">{{ group.name }}</a>
                      {% else %}
                        {{ group.name }}
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Honors Awards</th>
            <td>
              {% if user.honors_awards %}
                {% for award in user.honors_awards %}
                  <p>
                    <strong>Title : </strong>{{ award.title }}<br>
                    <strong>Organization : </strong>{{ award.organization }} |
                    <strong>Date : </strong>{{ award.date }}<br>
                    <strong>Description : </strong>{{ award.description }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Experience</th>
            <td>
              {% if user.experience %}
                {% for exp in user.experience %}
                  <p>
                    <strong>Title : </strong>{{ exp.title }}<br>
                    <strong>Start : </strong>{{ exp.start }} | <strong>End : </strong>{{ exp.end }} | 
                    <strong>Duration : </strong>{{ exp.duration }}<br>
                    <strong>Location : </strong>{{ exp.location }}<br>
                    <strong>Description : </strong>{{ exp.description }}<br>
                    <strong>Organizations : </strong>
                    {% if exp.organization %}
                      {% for org in exp.organization %}
                        <span>
                          <strong>Name : </strong>
                          {% if org.profile_url %}
                            <a href="{{ org.profile_url }}">{{ org.name }}</a>
                          {% else %}
                            {{ org.name }}
                          {% endif %} | <strong>Unique ID : </strong>{{ org.unique_id }}<br>
                        </span>
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Cetrifications</th>
            <td>
              {% if user.certifications %}
                {% for certification in user.certifications %}
                  <p>
                    <strong>Title : </strong>{{ certification.title }} | 
                    <strong>Certificate Authority : </strong>{{ certification.certificate_authority }}<br>
                    <strong>Start : </strong>{{ certification.start }} | <strong>End : </strong>{{ certification.end }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Publications</th>
            <td>
              {% if user.publications %}
                {% for pub in user.publications %}
                  <p>
                    <strong>Title : </strong>{{ pub.title }} | 
                    <strong>Publisher : </strong>{{ pub.publisher }} | 
                    <strong>Date : </strong>{{ pub.date }}<br>
                    <strong>Authors : </strong>
                    {% if pub.authors %}
                      {% for author in pub.authors %}
                        <span>
                          {% if author.url %}
                            <a href="{{ author.url }}">{{ author.full_name }}</a>
                          {% else %}
                            {{ author.full_name }}
                          {% endif %}
                        </span>, 
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}<br>
                    <strong>Summary : </strong>{{ pub.summary }}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Recommendations Preview</th>
            <td>
              {% if user.recommendations_preview %}
                {% for rp in user.recommendations_preview %}
                  <p>{{ rp }}</p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Volunteering</th>
            <td>
              {% if user.volunteering %}
                {% for volu in user.volunteering %}
                  <p>
                    <strong>Title : </strong>{{ volu.title }} | 
                    <strong>Cause : </strong>{{ volu.cause }}<br>
                    <strong>Start : </strong>{{ volu.start }} | <strong>End : </strong>{{ volu.end }} | 
                    <strong>Duration : </strong>{{ volu.duration }}<br>
                    <strong>Description : </strong>{{ volu.description }}<br>
                    <strong>Organization : </strong>
                    {% if volu.organization %}
                      {% for org in volu.organization %}
                        <span>{{ org.name }}</span>, 
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </p>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>Summary</th><td>{{ user.summary }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}  
    <p>No record found</p>
  {% endif %}
{% endblock %}
